<body>
    <section>
        <button>Add yarn</button>

        <a href="/homepage"> &larr; Back to homepage</a>

        <input type="text" value="company"></input>

        <form class="new-post-form" method="POST" role="form">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="id" />
            </div>

            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" />
            </div>

            <div class="form-group">
                <label for="brand">Brand</label>
                <input type="text" class="form-control" id="brand" />
            </div>

            <div class="form-group">
                <label for="colorway">Colorway</label>
                <input type="text" class="form-control" id="colorway" />
            </div>

            <div class="form-group">
                <label for="grams">Grams</label>
                <input type="text" class="form-control" id="grams" />
            </div>

            <div class="form-group">
                <label for="weight">Weight</label>
                <input type="text" class="form-control" id="weight" />
            </div>

            <div class="form-group">
                <label for="skeins">Skeins</label>
                <input type="text" class="form-control" id="skeins" />
            </div>

            <div class="form-group">
                <label for="dye_lot">Dye lot</label>
                <input type="text" class="form-control" id="dye_lot" />
            </div>

            <div class="form-group">
                <label for="user_id">User ID</label>
                <input type="text" class="form-control" id="user_id" />
            </div>

        </form>

        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-md" id="add-btn">Save</button>

        </div>
    </section>

    <script src="js/add-yarn.js"></script>

    <header>{{name}}</header>

</body>