<section class="card">
    <a href="/yarn/{{id}}">
        <header>{{title}}</header>

        <div class="card-body">

            <p class="company"></p>
            <p class="brand"></p>
            <p class="colorway"></p>
            <p class="yardage"></p>
            <p class="grams"></p>
            <p class="weight"></p>
            <p class="skeins"></p>
            <p class="dye_lot"></p>

        </div>
    </a>
</section>