<section>
    <img src="/images/yarn_rainbow.jpg">
    <h1>Welcome to Stashbusters</h1>

    <h3>Organize your stash</h3>
    <p>Visit your yarn page to see what you've got in your stash.</p>

</section>