<h1>Welcome to Stashbusters</h1>
<h2>A quick overview</h2>

<h3>Organize your stash</h3>
<p>Visit your yarn page to see your stash.</p>
<p>
    You can see what is in your stash with a quick glance.
</p>