{{!-- Not sure how this is linked --}}
{{!-- <div>{{profile.pets}}</div> --}}

<main class="container-register-profile">
    <section class="form-container">
        <form method="POST">
            <span class="register">Tell us more about yourself</span>
            <div class="name-section">
                <input name="name" autocomplete="off">
                <label for="name" class="label-name">
                    <span class="content-name">Name</span>
                </label>
                <div class="name-section">
                    <input name="username" autocomplete="off" readonly>
                    <label for="username" class="label-name">
                        <span class="content-name">username</span>
                    </label>
                </div>
                <div class="name-section">
                    <input name="email" autocomplete="off">
                    <label for="email" class="label-name">
                        <span class="content-name">Email</span>{{email}}
                    </label>
                </div>
                <div class="name-section">
                    <input name="city" autocomplete="off">
                    <label for="city" class="label-name">
                        <span class="content-name">City</span>
                    </label>
                </div>
                <div class="name-section">
                    <input name="craft" autocomplete="off">
                    <label for="craft" class="label-name">
                        <span class="content-name">Craft</span>
                    </label>
                </div>
                <div class="name-section">
                    <input name="pets" autocomplete="off">
                    <label for="pets" class="label-name">
                        <span class="content-name">Pets</span>
                    </label>

                </div>
                <div class="name-section">
                    <input name="yard" autocomplete="off">
                    <label for="yarn" class="label-name">
                        <span class="content-name">Favorite Yarn</span>
                    </label>
                </div>

                <div class="name-section">
                    <input name="url" autocomplete="off">
                    <label for="url" class="label-name">
                        <span class="content-name">homepage</span>

                    </label>
                </div>
                <div class="button">
                    <button type="submit">SUBMIT</button>
                </div>
        </form>
    </section>
    </form>
</main>

{{!-- will need to add script to connect --}}
<script src='/js/profile.js'></script>