<section class="container">
  {{#each yarns as |yarn|}}
  <section class="flex-row justify-center"> 
 
    {{> yarn-details}}
    {{!-- {{> update-yarn}} --}}
    {{!-- {{> post-yarn}} --}}
    {{!-- {{> delete-yarn}} --}}

  </section>
    {{/each}}
</section>
